pandas
matplotlib
h5py
numpy

netCDF4
tifffile
xarray

#pyimagetool requirements
PyQt5
PyQt5-sip
pyqtgraph

#package_data={'': ['PHI_XPS/*.tiff','orangebook_BE.csv']}
#package_data={'': ['pyimagetool/cmaps/*']}